.container {
  display: grid;
  
  grid-template-columns: 1fr 1fr;
  
  grid-template-rows: 50vh 50vh;
  
   
}

header { 
    background-color: Indigo;
	  
}


main { 
    background-color: red;
	 

}

footer {
	background-color: yellow;

}

nav {
	background-color: black;
	
}
