



div{
border-radius: 50%;
height: 100vmin;
width: 100vmin;
background-color: yellow;
border: none;


/* vw - bredden */
/* vh - höjden */
/* vmin - dokumentet minsta värde */
/* vmax - dokumentet största värde */

}

